body {
  background-color: powderblue;
}

h1 {
  color: black;
}

h3 {
  color: black;
}

hr {
  border-color: black;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 200px;
}

img:hover{
  background-color: black;
}
